body {
    display: flex;
    justify-content: center;
    text-align: center;
}

#game-board {
    border: 1px solid black;
    background-color: black;
}

#game-wrapper {
    display: flex;
    align-items: start;
    gap: 24px;
}

